accelerate
acres
agno
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
aniso8601
annotated-doc
annotated-types
anyio
appdirs
asttokens
attrs
Authlib
backoff
bcrypt
beartype
beautifulsoup4
bitsandbytes
blinker
boto3
botocore
brotli
bs4
build
cachetools
certifi
cffi
cfgv
charset-normalizer
chromadb
ci-info
click
cloudpickle
colorama
coloredlogs
configobj
configparser
confluent-kafka
contourpy
crewai
crewai-tools
cryptography
cycler
cyclopts
dataclasses-json
ddgs
decorator
deepdiff
defusedxml
deprecation
diskcache
distlib
distro
dnspython
docker
docstring_parser
docutils
dotenv
duckduckgo_search
durationpy
elastic-transport
elasticsearch
email-validator
emoji
et_xmlfile
etelemetry
exceptiongroup
executing
faiss-cpu
fake-useragent
fakeredis
fastapi
fastmcp
filelock
filetype
fitz
Flask
flask-cors
flask-restx
flatbuffers
fonttools
frontend
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-auth
googleapis-common-protos
googlesearch-python
griffe
grpcio
grpcio-tools
h11
h2
hf-xet
hpack
html5lib
httpcore
httplib2
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
hyperframe
identify
idna
importlib_metadata
importlib_resources
imutils
iniconfig
instructor
ipython
ipython_pygments_lexers
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
jiter
jmespath
joblib
json5
json_repair
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-path
jsonschema-specifications
keyring
kiwisolver
kubernetes
lance-namespace
lance-namespace-urllib3-client
lancedb
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-mcp-adapters
langchain-ollama
langchain-openai
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langgraph-supervisor
langsmith
looseversion
lupa
lxml
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mcp
mcp-server-calculator
mcp-simple-timeserver
mdurl
mistral_inference
mmh3
more-itertools
mpmath
multidict
mypy_extensions
narwhals
networkx
newrelic
newrelic-telemetry-sdk
nibabel
nipype
nltk
nodeenv
ntplib
numpy
oauthlib
olefile
ollama
onnxruntime
openai
openai-agents
openapi-pydantic
opencv-python-headless
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-instrumentation
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orderly-set
orjson
ormsgpack
overrides
packaging
pandas
parso
pathable
pathlib
pathvalidate
pdfminer.six
pdfplumber
pexpect
pgvector
phi
pika
pillow
platformdirs
pluggy
portalocker
posthog
pre_commit
primp
prometheus_client
prompt_toolkit
propcache
protobuf
prov
psutil
psycopg
psycopg-binary
psycopg2-binary
ptyprocess
pure_eval
puremagic
py-key-value-aio
py-key-value-shared
pyarrow
pyasn1
pyasn1_modules
pybase64
pycountry
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydocket
pydot
pygame
Pygments
PyJWT
pylance
pyparsing
pypdf
pypdfium2
pyperclip
PyPika
pyproject_hooks
pytesseract
pytest
python-dateutil
python-docx
python-dotenv
python-iso639
python-json-logger
python-magic
python-multipart
python-oxmsg
pytube
pytz
pyxnat
PyYAML
qdrant-client
RapidFuzz
rdflib
redis
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rich-rst
rpds-py
rsa
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shellingham
simplejson
six
slack_sdk
smmap
sniffio
socksio
sortedcontainers
soupsieve
SQLAlchemy
sse-starlette
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
tomli_w
torch
torchaudio
torchvision
tornado
tqdm
traitlets
traits
transformers
ty
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uv
uvicorn
uvloop
virtualenv
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
wheel
wikipedia
Wikipedia-API
wikipedia-mcp
wrapt
xxhash
yarl
youtube-transcript-api
zipp
zstandard
